@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

body {
    background: wheat;
    font-family: "Sono", serif;
    font-optical-sizing: auto;
}

#welcome {
    margin-top: 25vh;
    color: #262828;
    font-size: 5vh;
}

#welcomeTitle {
    padding-left: 5vw;

}

@media (max-width: 479px) {
    #welcome {
        margin-top: 10vh;
        font-size: 3vh;
    }

    #welcomeTitle {
        padding-left: 2vw;
    }
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    float: left;
    display: block;
    color: #262828;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}

#navTitle {
    float: left;
    display: block;
    color: #262828;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 800;
    font-variation-settings: "MONO" 1;
}

#divider {
    border: 0;
    height: 1px;
    background: #262828;
}

#learnMore {
    text-align: center;
    margin-top: 30vh;
    font-weight: bold;
}

#learnMore:hover {
    cursor: pointer;
    text-decoration: underline;
}

.card {
    background: #D5B5EA;
    padding: 5%;
    width: 15vw;
    flex: 0 0 auto;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    margin-left: 5vw;
    margin-top: 5vh;
    overflow: auto;
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: normal;
    overflow-x: hidden;
}

.card img {
    margin-top: -30%;
    width: 10em;
}

.card h2 {
    margin-top: 5%;
    font-size: 5vh;
}

.card p {
    margin: -10% -20% -20%;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: normal;
}

.cardList {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap;
}

.listTitle {
    margin-top: 10vh;
    margin-left: 5vw;
    font-size: 7vh;
}

#stupidFix {
    font-family: Arial, sans-serif;
}

#whoami {
    font-size: 7vh;
    text-align: center;
}

#whoamiList {
    column-count: 2;
}

#whoamiList li {
    width: 45%;
    padding-top: 5%;
}