@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

body {
    background: wheat;
    font-family: "Sono", serif;
    font-optical-sizing: auto;
}

#welcome {
    margin-top: 30vh;
    color: #262828;
    font-size: 5vh;
}

#welcomeTitle {
    padding-left: 5vw;

}

/*@media (max-width: 479px) {
    #welcome {
        margin-top: 10vh;
        font-size: 3vh;
    }

    #welcomeTitle {
        padding-left: 2vw;
    }
}*/

nav {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    position: fixed;
    top: 0;
    background: wheat;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    float: left;
    display: block;
    color: #262828;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}

#navTitle {
    float: left;
    display: block;
    color: #262828;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-weight: 800;
    font-variation-settings: "MONO" 1;
}

#navbarDivider {
    background: #262828;
    height: 1px; /* Adjust the height as needed */
    margin: 0; /* Remove any default margin */
    border: none; /* Remove any default border */
    position: fixed; /* Fix the position at the top */
    top: 8vh; /* Position the divider right below the navbar */
    width: 100%; /* Ensure the divider spans the full width */
}

#learnMore {
    text-align: center;
    margin-top: 35vh;
    font-weight: bold;
}

.scroll:hover {
    cursor: pointer;
    text-decoration: underline;
}

.scroll{
    text-align: center;
    font-weight: bold;
}

.card {
    background: #D5B5EA;
    padding: 5%;
    width: 15vw;
    flex: 0 0 auto;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    margin-left: 5vw;
    margin-top: 5vh;
    overflow: auto;
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: normal;
    overflow-x: hidden;
}

.card img {
    margin-top: -30%;
    width: 10em;
}

.card h2 {
    margin-top: 5%;
    font-size: 5vh;
}

.card p {
    margin: -10% -20% -20%;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: normal;
}

.cardList {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap;
}

.listTitle {
    margin-top: 10vh;
    margin-left: 5vw;
    font-size: 7vh;
}

#stupidFix {
    font-family: Arial, sans-serif;
}

#whoamiTitle {
    font-size: 7vh;
    text-align: center;
    margin-top: 10vh;
}

.center{
    display: flex;
    justify-content: center;
}

#whoamiList {
    width: 75%;
    column-count: 2;
}


#whoamiList li {
    width: 70%;
    padding-top: 5%;
    margin: 0 auto;
}

.screen{
    height: 70vh;
}

#more{
    margin-top: 25vh;
}

#whoamiListdiv{
margin-top: 5vh;
}

#footer{

}